
<html lang="en">
{% extends "base.html" %}

<body>
{% block content %}
    <div>
        <a href="/" class="btn btn-secondary">Back to Home</a>
        <div class="database-info">
            <h1>Database: {{ database.name }}</h1>
        </div>
        <div class="tables-info">
            <h2>Tables</h2>
            <ul class="list-group list-group-flush">
                {% if tables %}
                    {% for table in tables %}
                    <li class="list-group-item">
                        <strong>{{ table.name }}</strong>
                        <div>
                            <form action="/tables/{{database.id}}/{{table.id}}/delete" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <a href="/tables/{{database.id}}/{{table.id}}" class="btn btn-info">View</a>
                        </div>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">No tables found in this database.</li>
                {% endif %}
            </ul>
        </div>
        <a href="/tables/create/{{database.id}}" class="btn btn-success">Create a table</a>
        <form action="/databases/{{database.id}}/delete" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Delete Database</button>
                            </form>
        <a href="/sql/{{database.id}}" class="btn btn-primary">SQL</a>
    </div>
{% endblock %}
</body>
</html>
