<html lang="en">
{% extends "base.html" %}

<body>
{% block content %}
    <div class="sidebar">
        <a href="/databases/create" class="create-db-button">Create New Database</a>
        <h2>Databases</h2>
        <ul class="databases-list">
            {% for database in databases %}
            <li>
                 <a href="/databases/{{ database.id }}" class="create-db-button">{{database.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="main-content">
        <h1>Welcome to Database Management</h1>
        <p>Select a database from the sidebar to view its details or create a new one.</p>
    </div>
{% endblock %}
</body>
</html>
